body {
  margin: 0;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #91b6ff;
  width: 100%;
  height: 13vh;
}
.title {
  color: white;
  -webkit-text-stroke: 1px black;
  font-family: verdana;
  font-size: 3em;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 0em;
}
h2 {
  margin-right: 4%;
}
.logo {
  width: 5%;
}
.bg-img {
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
  width: 50%;
}
.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 1.5em;
}
.lnr {
  font-weight: 900;
  margin-left: 23%;
}
#adding {
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  border-radius: 2.25rem;
}
.th{
  font-size: 1.1em;
}
.table-header{
  font-weight: bold;
  font-size: 1.1em;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.card-body {
  position: relative;
}
#table-general{
  margin-bottom: 6rem;
}
.disk{
  width: 14%;
  /*-ms-transform: rotate(-20deg);*/
  transform: rotate(-20deg);
  display: flex;
  position: absolute;
  opacity: 0.4;
  margin-top: 15%;
  margin-left: 3%;
  z-index: 1;
}
